:root {
  --primary-color: #ffffff;
  --secondary-color: #ffb400;
  --background-color: #404044;
  --text-color: #000000;
  --accent-color: #8b8b92;
}

body{
    margin: 0;
    
}
   
    .container {
    max-width: 1140px;
    margin: 0 auto;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    z-index: 1;
    background-color: var(--background-color);
    opacity: 0.9;
}


#main-header {
    width: 100%;
   
    display: flex;
    align-items: center;
}
.logo {
    width: 35%;
}
.nav{
    width: 50%;
}
.header-button{
    width: 15%;
}
.logo h2 {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    border: 2px solid;
        max-width: 118px;
    padding: 6px 10px;
}
.nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 14px;
    color: var(--primary-color);
        font-family: "Roboto", sans-serif;

}
.nav a:hover{
    color: var(--secondary-color);
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(images/bg_1.jpg.webp);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0px 0px 60px 0px;
    background-size: cover;

    opacity: .9;
}
.containt h1 {
    font-size: 84px;
    font-family: "Indie Flower", cursive;
    color: var(--primary-color);
    padding-top: 95px ;
    font-weight: 500;
    line-height: 1;
    margin: 0;
}
.containt {
    width: 100%;
        align-items: end;
    display: grid;
    text-align: center;
    height: 400px;

}
.button button {
    padding: 12px 32px;
    font-size: 15px;
    font-family: "Indie Flower", cursive;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    margin-top: 30px;
}
.button button:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}

.button {
    text-align: center;
        height: 180px;
}
.header-button button {
    padding: 12px 32px;
    font-size: 15px;
    font-family: "Indie Flower", cursive;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
}
.header-button button:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}

.form {
    height: 129px;
    background-color: var(--secondary-color);
    text-align: center;
    padding-top: 9px;
}
.form input {
    width: 165px;
    height: 50px;
    margin: 5px;
    background-color: var(--secondary-color);
    border: 2px solid var(--text-color);
    color: var(--text-color);
}
.form select {
    width: 165px;
    background-color: var(--secondary-color);
    height: 50px;    border: 
    2px solid var(--text-color);
    color: var(--text-color);

}
input[type="button"]{
    padding: 12px 32px;
    font-size: 15px;
    font-family: "Indie Flower", cursive;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    margin-top: 30px;
}
input[type="button"]:hover{
       background-color: var(--secondary-color);
    color: var(--primary-color);

}
.form placeholder{
    color: var(--text-color);
}
.about-home{
    height: 100vh;
    background-color: var(--primary-color);

}
.about-inner-img{
    background-image:url(images/about-2.jpg.webp);
        width: 50%;
            background-size: cover;

}
.about-inner {
    height: 100vh;
    display: flex;
}
.about-inner-content {
    width: 50%;
    display: flex;
    align-items: center;
}
.inner-content {
    margin: 0px 55px;
}

.inner-content h1 {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    columns: var(--accent-color);
        font-weight: 200;


}
.inner-content h2{
        font-size: 35px;
    font-family: "Roboto", sans-serif;
    columns: var(--text-color);
        font-weight: 400;


}
.inner-content p {
    font-size: 20px;
     font-family: "Roboto", sans-serif;
    columns: var(--accent-color);
        font-weight: 200;

}

.home-menu {
    height: 1270px;
    background-color: #fafafa;
}
.menu-content{
    text-align: center;
    padding: 100px 0px 10px 0px;

}
.menu-content h1{
        font-size: 15px;
    font-family: "Roboto", sans-serif;
    columns: var(--accent-color);
        font-weight: 200;

}
.menu-content h2{
        font-size: 35px;
    font-family: "Roboto", sans-serif;
    columns: var(--text-color);
        font-weight: 400;


}
.menu-button {
    text-align: center;
}
.menu-button button{
      padding: 12px 32px;
    font-size: 15px;
    font-family: "Indie Flower", cursive;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
      box-shadow: 2px 2px 10px;
       
}
.menu-button button:hover{
        background-color: var(--secondary-color);
    color: var(--primary-color);
   
}
#center{
         padding: 12px 32px;
    font-size: 15px;
    font-family: "Indie Flower", cursive;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
      
}
#center:hover{
      background-color: var(--primary-color);
    color: var(--text-color);
      box-shadow: 2px 2px 10px;
}

.inner-menu {
    display: flex;
        justify-content: space-between;
            padding: 35px 0px;
}
.inner-menu-section {
    width: 48%;
}
.dish {
    display: flex;
        box-shadow: 1px 1px 10px -2px;
        align-items: center;
    padding: 5px 18px;
    transition: 2s;
        margin: 30px 0px;
}
.dish:hover{
    background-color: var(--secondary-color);
        transform: scale3d(1.1, 1.2, 1.3);
}
.dish-img img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.dish-img {
    width: 20%;
}
.dish-content {
    width: 60%;
line-height: 1px;
}
.dish-price {
    width: 20%;
}
.dish-content h3 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    columns: var(--text-color);
    font-weight: 300;
    line-height: 1;
}
.dish-content p{
          font-size: 15px;
    font-family: "Roboto", sans-serif;
    columns: var(--accent-color);
        font-weight: 200;
}
.dish-price h2{
        font-size: 30px;
    font-family: "Roboto", sans-serif;
    columns: var(--background-color);
    font-weight: 400;
    line-height: 1;
}
.menu-dwon-content button {
    padding: 12px 32px;
    font-size: 15px;
    font-family: "Indie Flower", cursive;
    color: var(--secondary-color);
    background-color: var(--primary-colo);
    border: 2px solid var(--secondary-color);
    margin-top: 30px;
}
.menu-dwon-content button:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.menu-dwon-content {
    text-align: center;
    line-height: 1px;
}
.Specialties {
    height: 430px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url(images/bg_3.jpg.webp);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center center;
}
.Specialties h1{
    font-size: 34px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
}


footer{
        background-color: var(--background-color);

}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer-section {
    width: 20%;
    margin: 100px 0px;
}
.footer-section h1{
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
}
.footer-section p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--accent-color);
}
p.time:hover {
    color: var(--primary-color);
}

p.time {
    line-height: 30px;
}
.footer-section a {
    text-decoration: none;
    display: table;
    line-height: 28px;
    font-size: 20px;
    color: var(--accent-color);
}
.footer-section a:hover {
    color: var(--primary-color);
}
.footer-section input {
    width: 200px;
    height: 40px;
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
}
.footer-section .fa-solid {
    --fa-style: 900;
    position: relative;
    bottom: 30px;
    right: 110px;
    width: 295px;
    color:var(--accent-color) ;
}
.copy-right {
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--accent-color);
}
.icon {
    margin: 20px 0px;
    --fa: "\f081";
    font-size: 45px;
    color: var(--primary-color);
    border-radius: 100px;
}
.item-img-one {
    background-image: url(https://preview.colorlib.com/theme/tasty/images/dish-3.jpg);
    width: 25%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item-img-two{
    background-image: url(https://preview.colorlib.com/theme/tasty/images/dish-5.jpg);
        width: 25%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item {
       height: 600px;
    background-color: #f8f9fa;
    padding: 1px 0px;
}
.item-inner {
    display: flex;
    justify-content: center;
}
.item-content {
    width: 25%;
    text-align: center;
    padding: 10px;
    font-family:"Roboto", sans-serif;
    font-size: 20px;
    background-color: var(--primary-color);

}
.item-content h2{
      font-family:"Roboto", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: var(--text-color);
}
.item-content p{
     font-family:"Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: var(--accent-color);

}
.item-content h3{
       font-family:"Roboto", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: var(--secondary-color);

}
.item-img-three{
    background-image: url(https://preview.colorlib.com/theme/tasty/images/dish-4.jpg);
        width: 25%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item-img-four{
    background-image: url(https://preview.colorlib.com/theme/tasty/images/dish-6.jpg);
        width: 25%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item-container {
    margin: -90px 0px 0px 0px;
}
.review-section {
    text-align: center;
    padding: 100px 0px;
}
.review:hover {
    border: 1px solid var(--secondary-color);
}
.review-section h2{
    font-size: 19px;
   
    color: var(--accent-color);
   font-family:"Roboto", sans-serif;
     
}
.review-section p{
    font-size: 25px;
    font-weight: 400;
 
    color: var(--text-color);
   font-family:"Roboto", sans-serif;
}

.review-img{
        background-image: url(https://preview.colorlib.com/theme/tasty/images/person_2.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: auto;
    margin-top: 10px;
}
.inner-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review {
    text-align: center;
    border: 1px solid var(--accent-color);
    width: 31%;
   
    
}
.fa-solid {
    --fa-style: 900;
    position: relative;
    left: 0px;
    color: var(--secondary-color);
}
.review-star {
    padding: 10px 0px;
}
.review-content {
    font-size: 19px;
    padding: 15px;
    color: var(--accent-color);
   font-family:"Roboto", sans-serif;
}
.review-content p{
     font-size: 19px;
    padding: 15px;
    color: var(--accent-color);
   font-family:"Roboto", sans-serif;
}
.review-content h3 {
    font-size: 20px;
    font-weight: 300;
  
    color: var(--text-color);
   font-family:"Roboto", sans-serif;
}
.review-img-two{
        background-image: url(	https://preview.colorlib.com/theme/tasty/images/person_3.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: auto;
    margin-top: 10px;
}
.review-img-three{
        background-image: url(	https://preview.colorlib.com/theme/tasty/images/person_1.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: auto;
    margin-top: 10px;
}
.insta-img{
     background-image: url(	https://preview.colorlib.com/theme/tasty/images/insta-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        width: 270px;
            display: flex;
    align-items: center;
    justify-content: center;
    height: 245px;

}
.inner-insta {
    display: flex;
    align-items: center;
    justify-content: center;
}


.instagram-section button {
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    margin: 20px 0;
}
.instagram-section{
    text-align: center;
    padding-top: 50px;
}

.insta-img-one{
     background-image: url(	https://preview.colorlib.com/theme/tasty/images/insta-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        width: 270px;
            display: flex;
    align-items: center;
    justify-content: center;
    height: 245px;

}
.insta-img-two{
     background-image: url(		https://preview.colorlib.com/theme/tasty/images/insta-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        width: 270px;
            display: flex;
    align-items: center;
    justify-content: center;
    height: 245px;

}
.insta-img-three{
     background-image: url(	https://preview.colorlib.com/theme/tasty/images/insta-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        width: 270px;
            display: flex;
    align-items: center;
    justify-content: center;
    height: 245px;

}
.insta-img-four{
     background-image: url(		https://preview.colorlib.com/theme/tasty/images/insta-5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        width: 270px;
            display: flex;
    align-items: center;
    justify-content: center;
    height: 245px;

}

a {
    text-decoration: none;
}
 